<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta charset="utf-8" />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
		</head>
		<body class="is-preload">
			<!-- Wrapper-->
			<div id="wrapper">
				<!-- Nav -->
				<nav id="nav">
					<a href="#" class="icon solid fa-home"><span>Home</span></a>
					<a href="#about" class="icon solid fa-address-card"><span>About Me</span></a>
					<a href="#curriculum" class="icon solid fa-file-alt"><span>Curriculum</span></a>
					<a href="#posts" class="icon solid fa-folder"><span>Posts</span></a>
					<a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
					<a href="https://www.linkedin.com/in/camila-nascimento-a7073025" class="icon brands fa-linkedin" target="_blank"><span>Linkedin</span></a>
				</nav>
				<!-- Main -->
				<div id="main">

					<!-- Me -->
					<article id="home" class="panel intro">
						<header>
							<h1>Camila Nascimento</h1>
							<p>Computer Engineer, web developer</p>
						</header>
						<a href="#about" class="jumplink pic">
							<span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
							<img src="images/me.jpeg" alt="" />
						</a>
					</article>

					<!-- About Me -->
					<article id="about" class="panel">
						<header>
							<h2>About Me</h2>
						</header>
						<p>I was born in Brazil on November 22, 1984, I grew up in the city of Brasilia, capital of Brazil, with my family. Since I was a teenager 
							I always liked computers and I had my first contact with programming at 16 years old, that's when I learned HTML.</p>
						<p>In 2003, I started the university of Computer Engineering. In 2008, I finished college and I went to live in Australia to study English,
							and I took the Microsoft certification course, MCPD (Microsoft Certified Professional Developer), so I started
							programming with c#, .NET and met Microsoft Visual Studio.
							I have three years of experience with c#, .NET and sql server development.</p>	
						<p>In 2014, I met my boyfriend at the soccer world cup in Brazil, he's from Switzerland. And in 2016 I moved to Switzerland, where I live today.
							Since I moved to Switzerland I have dedicated myself to learning German, I have the TELC certificate in German level B1.</p>	
						<p>At the moment I have dedicated myself to learn more about web development, I have studied HTML, CSS, Java, Javascript, Angular and Dynamics 365.
							In August 2020, I joined the Powercoders program and I'm very excited about Bootcamp, which will take place from September to December 2020.</p>
					</article>

					<!-- Curriculum -->
					<article id="curriculum" class="panel">
						<header>
							<h2>Curriculum</h2>
						</header>
						<ul><a href="/docs/Camila Nascimento - CV -  English.pdf">English</a></ul>
						<ul>Deutsch</ul>
						<ul>Portugues</ul>
					</article>

					<!-- Posts -->
					<article id="posts" class="panel">
						<!-- container -->
						<div class="container">
			
							{{ content }}
					
						</div>
					</article>

					<!-- Contact -->
					<article id="contact" class="panel">
						<header>
							<h2>Contact Me</h2>
						</header>
						<form action="#" method="post">
							<div>
								<div class="row">
									<div class="col-6 col-12-medium">
										<input type="text" name="name" placeholder="Name" />
									</div>
									<div class="col-6 col-12-medium">
										<input type="text" name="email" placeholder="Email" />
									</div>
									<div class="col-12">
										<input type="text" name="subject" placeholder="Subject" />
									</div>
									<div class="col-12">
										<textarea name="message" placeholder="Message" rows="6"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</div>
						</form>
					</article>

				</div>
				
				<!-- Footer -->
				<div id="footer">
					<ul class="copyright">
						<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
					<ul>
						<!-- visitors counter -->
						<p>
							Visitor: <img style="border: 0px solid; display: inline;" alt="visitors counter" src="http://www.websmultimedia.com/contador-de-visitas.php?id=282882">
						</p>
					</ul>
				</div>
			</div>

			<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

		</body>
	</html>
